aula10/assets/Fluxo de Trabalho Clinica Risos Risos.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Fluxo de Trabalho Clinica Risos Risos
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: d7dc5522-3f0c-409c-9018-15b73d28ff97
    name: eventTypeId
    value: '1328031'
    value_type: string
  - description: ''
    id: 11d3d992-907b-4413-83c1-eb70c218dba0
    name: API_CAL_COM
    value: ''
    value_type: secret
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1728608585914-source-1728608763775-target
      source: '1728608585914'
      sourceHandle: source
      target: '1728608763775'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1728608763775-source-1728609907934-target
      source: '1728608763775'
      sourceHandle: source
      target: '1728609907934'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1728609907934-source-1728609747440-target
      source: '1728609907934'
      sourceHandle: source
      target: '1728609747440'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables:
        - label: dataInicio (yyyy-MM-dd)
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: dataInicio
        - label: dataFim
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: dataFim
      height: 115
      id: '1728608585914'
      position:
        x: 12.705096550582425
        y: 243.73427058758608
      positionAbsolute:
        x: 12.705096550582425
        y: 243.73427058758608
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: ''
        headers: Authorization:Bearer {{#env.API_CAL_COM#}}
        method: get
        params: 'eventTypeId:{{#env.eventTypeId#}}

          startTime:{{#1728608585914.dataInicio#}}

          endTime:{{#1728608585914.dataFim#}}'
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Requisição HTTP
        type: http-request
        url: https://api.cal.com/v2/slots/available
        variables: []
      height: 105
      id: '1728608763775'
      position:
        x: 431
        y: 265
      positionAbsolute:
        x: 431
        y: 265
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1728609907934'
          - result
          variable: slots
        selected: false
        title: Fim
        type: end
      height: 89
      id: '1728609747440'
      position:
        x: 1039.5
        y: 416.5
      positionAbsolute:
        x: 1039.5
        y: 416.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(httpResponse):\n    body = json.loads(httpResponse)\n\
          \    slots = body['data']['slots']\n    return {\n        \"result\": slots\n\
          \    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: object
        selected: false
        title: Filtrar JSON
        type: code
        variables:
        - value_selector:
          - '1728608763775'
          - body
          variable: httpResponse
      height: 53
      id: '1728609907934'
      position:
        x: 730
        y: 312
      positionAbsolute:
        x: 730
        y: 312
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -419.87346685928645
      y: -12.372668580646916
      zoom: 0.7578582832551993
