trabalho/arquivos-27112024/Demais fluxos (só se precisar)/workflow-cadastra-cliente.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "tableId": "clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $json.body.phone }}"
            }
          ]
        }
      },
      "id": "897f1465-73c9-4b13-9d9a-013660664384",
      "name": "Busca telefone",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        300,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "dERodOio9uoqtr2z",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aab8920a-ae1d-4653-8ba1-0c9c473f66f5",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2dfae033-fd39-47b0-8a97-46c53bbf64df",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        260
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "tableId": "clientes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Webhook').item.json.body.name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Webhook').item.json.body.email }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "id": "5c37de90-c372-4e90-a3a0-0e91ab8c112e",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        860,
        380
      ],
      "credentials": {
        "supabaseApi": {
          "id": "dERodOio9uoqtr2z",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "id": "e1846ede-0670-400f-81dd-89a0d1014f45",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        120
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cadastra-cliente",
        "options": {}
      },
      "id": "2d4ff9fa-b491-47ea-9e82-8c4bc2f75896",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        260
      ],
      "webhookId": "b79251ac-ffd9-46ef-9c8d-e8bd2ff3b395"
    }
  ],
  "pinData": {},
  "connections": {
    "Busca telefone": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Busca telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c8f4fd1-9002-4ead-88a0-d82259d5048a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "399f42398f1e4c0559eecb93f0349f84df66d704ac714c1171635489d2c95f36"
  },
  "id": "OwNIMaIjIvHzV9jF",
  "tags": []
}