trabalho/arquivos-23112024/get_start_of_current_week.yml
app:
  description: get_start_of_current_week
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: get_start_of_current_week
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1730598483073-source-1730598492954-target
      source: '1730598483073'
      sourceHandle: source
      target: '1730598492954'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1730598492954-source-1730598554267-target
      source: '1730598492954'
      sourceHandle: source
      target: '1730598554267'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables: []
      height: 53
      id: '1730598483073'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "from datetime import datetime, timedelta, timezone\n\ndef get_start_of_current_week():\n\
          \    cuiaba_tz = timezone(timedelta(hours=-4))\n    today = datetime.now(cuiaba_tz)\n\
          \    # Calcula o início da semana (domingo)\n    start_of_week = today -\
          \ timedelta(days=(today.weekday() + 1) % 7)\n    start_of_week = start_of_week.replace(hour=0,\
          \ minute=0, second=0, microsecond=0)\n    return start_of_week.strftime(\"\
          %Y-%m-%d %H:%M:%S\")\n\ndef main():\n    result = get_start_of_current_week()\n\
          \    return {\"result\": result}\n\n# Retorna o valor como esperado pelo\
          \ Dify\nresult = main()\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Código
        type: code
        variables: []
      height: 53
      id: '1730598492954'
      position:
        x: 386.44609506499125
        y: 282
      positionAbsolute:
        x: 386.44609506499125
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1730598492954'
          - result
          variable: result
        selected: false
        title: Fim
        type: end
      height: 89
      id: '1730598554267'
      position:
        x: 759.9026248137404
        y: 296.24206342911253
      positionAbsolute:
        x: 759.9026248137404
        y: 296.24206342911253
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -307.30555152228465
      y: 40.36680474310219
      zoom: 0.8705505632961247
