trabalho/arquivos-24112024/Agendamento GigaBot.yml
app:
  description: Ferramenta para chamadas à Cal.com
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Agendamento GigaBot
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: e2b55b8d-9321-4cf6-a4a6-ee145b85d03d
    name: cal_api_key
    value: cal_live_8d72e5273d9a83d631ad8c047cbd3e4d
    value_type: string
  - description: ''
    id: bc291cf7-f9bd-499b-99ad-79de37c986d2
    name: url_api_v1
    value: https://api.cal.com/v1
    value_type: string
  - description: ''
    id: 7b860f37-53f0-4c9d-b45b-f9d3c7487a7c
    name: eventTypeId
    value: '1307709'
    value_type: string
  - description: ''
    id: dc6214bf-b65b-438b-b383-07a556f45d6f
    name: timeZone
    value: America/Cuiaba
    value_type: string
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1729451982807-source-1729454613755-target
      source: '1729451982807'
      sourceHandle: source
      target: '1729454613755'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1729454613755-source-1729454751505-target
      source: '1729454613755'
      sourceHandle: source
      target: '1729454751505'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1729454751505-source-1729454975395-target
      source: '1729454751505'
      sourceHandle: source
      target: '1729454975395'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables:
        - label: startTime
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: startTime
        - label: endTime
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: endTime
      height: 115
      id: '1729451982807'
      position:
        x: -168.0674872253041
        y: 175.11985922739558
      positionAbsolute:
        x: -168.0674872253041
        y: 175.11985922739558
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: ''
        headers: ''
        method: get
        params: 'startTime:{{#1729451982807.startTime#}}

          endTime:{{#1729451982807.endTime#}}

          eventTypeId:{{#env.eventTypeId#}}'
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Requisição HTTP
        type: http-request
        url: '{{#env.url_api_v1#}}/slots?apiKey={{#env.cal_api_key#}}&timeZone={{#env.timeZone#}}'
        variables: []
      height: 127
      id: '1729454613755'
      position:
        x: 248.3549820104941
        y: 294.77890133473386
      positionAbsolute:
        x: 248.3549820104941
        y: 294.77890133473386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "def main (http_response:str) -> str:\n    import json\n    data = json.loads(http_response)\n\
          \    slots = data['slots']\n    return {\n        'result': slots\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: object
        selected: true
        title: Clear Response
        type: code
        variables:
        - value_selector:
          - '1729454613755'
          - body
          variable: http_response
      height: 53
      id: '1729454751505'
      position:
        x: 601.9831020976297
        y: 164.14761816821726
      positionAbsolute:
        x: 601.9831020976297
        y: 164.14761816821726
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1729454751505'
          - result
          variable: response
        selected: false
        title: Fim
        type: end
      height: 89
      id: '1729454975395'
      position:
        x: 971.4453171140401
        y: 364.7128206056972
      positionAbsolute:
        x: 971.4453171140401
        y: 364.7128206056972
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -180.29766171985557
      y: 50.874674289748555
      zoom: 0.7578582832551991
