trabalho/arquivos-25112024/MarcaAtendimentoGigabot.yml
app:
  description: Marcador de atendimentos
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: MarcaAtendimentoGigabot
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 714d809d-189f-4869-8f43-45336677f4b9
    name: meet_address
    value: Av. Ingás, 2040, Sinop, MT
    value_type: string
  - description: ''
    id: c06579d6-e06c-4c94-a81a-4d3e3d73672d
    name: meet_phone
    value: (66) 99661 3990
    value_type: string
  - description: ''
    id: e338e5fc-89a1-4560-870b-b44593d8746a
    name: meet_title
    value: Atendimento Técnico
    value_type: string
  - description: ''
    id: 3ad18cc5-8ebc-4baa-81ed-b54b6fb67be0
    name: timeZone
    value: America/Cuiaba
    value_type: string
  - description: ''
    id: 3dc240ee-0b3c-43cb-a580-02ae58be0f96
    name: eventTypeId
    value: '1307709'
    value_type: string
  - description: ''
    id: 0cb2d96b-84f6-489c-aa8e-7bb4d1422ee1
    name: cal_api_key
    value: cal_live_8d72e5273d9a83d631ad8c047cbd3e4d
    value_type: string
  - description: ''
    id: 6c247607-c772-42cf-9848-acab5a84dac4
    name: url_api_v1
    value: https://api.cal.com/v1
    value_type: string
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1729459419485-source-1729459686019-target
      source: '1729459419485'
      sourceHandle: source
      target: '1729459686019'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1729459686019-source-1729460596515-target
      source: '1729459686019'
      sourceHandle: source
      target: '1729460596515'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables:
        - label: startTime
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: startTime
        - label: nome
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: nome
        - label: email
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: email
        - label: telefone
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: telefone
        - label: endTime
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: endTime
      height: 193
      id: '1729459419485'
      position:
        x: 37.87365627528169
        y: 67.30857402513345
      positionAbsolute:
        x: 37.87365627528169
        y: 67.30857402513345
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: "{\n   \"eventTypeId\": 1307709,\n   \"start\": \"{{#1729459419485.startTime#}}\"\
            ,\n   \"end\": \"{{#1729459419485.endTime#}}\",\n   \"responses\": {\n\
            \      \"name\": \"{{#1729459419485.nome#}} | {{#1729459419485.telefone#}}\"\
            ,\n      \"email\": \"{{#1729459419485.email#}}\",\n      \"smsReminderNumber\"\
            : \"{{#1729459419485.telefone#}}\",\n      \"location\": {\n         \"\
            value\": \"Av. Ingás, Rua RisosRisos, 334\",\n         \"optionValue\"\
            : \"\"\n      }\n   },\n   \"metadata\": {},\n   \"timeZone\": \"America/Cuiaba\"\
            ,\n   \"language\": \"pt-BR\",\n   \"title\": \"{{#env.meet_title#}}\"\
            ,\n   \"description\": null,\n   \"status\": \"PENDING\"\n}"
          type: json
        desc: ''
        headers: 'Content-Type:application/json

          User-Agent:dify/9.3.3'
        method: post
        params: apiKey:{{#env.cal_api_key#}}
        selected: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Requisição HTTP
        type: http-request
        url: '{{#env.url_api_v1#}}/bookings'
        variables: []
      height: 91
      id: '1729459686019'
      position:
        x: 475
        y: 76
      positionAbsolute:
        x: 475
        y: 76
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1729459686019'
          - body
          variable: response
        selected: false
        title: Fim
        type: end
      height: 89
      id: '1729460596515'
      position:
        x: 859
        y: 209
      positionAbsolute:
        x: 859
        y: 209
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -856.1496546236995
      y: 115.63086440886502
      zoom: 1.7411011265922485
