trabalho/arquivos-do-chatbot/desenvolvimento-fluxo-n8n/Trabalho_Gigabot-16112024.json
{
  "name": "Trabalho Gigabot",
  "nodes": [
    {
      "parameters": {},
      "id": "f6c8b3f7-eb7e-4101-942b-9de13e86593d",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        160,
        40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7052873-8610-4d2b-a44c-8bb813be2031",
              "name": "telefoneCliente",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "4330e4d7-eb3b-4aca-a29d-492bbd4c74ff",
              "name": "telefoneEmpresa",
              "value": "={{ $json.body.sender }}",
              "type": "string"
            },
            {
              "id": "05575cee-5620-45ce-a3c4-d35f8f2da609",
              "name": "nomeCliente",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "88f4a4af-8ef6-4810-9a5c-ef467df3c1d2",
              "name": "nomeInstancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "8348f3f0-730c-41ea-a77e-8935713151ef",
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "6253fb28-98fa-46a7-af81-b9c16bc351c3",
              "name": "tipoMensagem",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "a000d91d-c8dc-4f54-8ee5-737c24348d4d",
              "name": "idMensagem",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "c6b81fce-0087-4428-a388-a2d2963959e0",
              "name": "objetoMensagem",
              "value": "={{ $json.body.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "64a9bc6f-bfbc-4dfb-9d23-910ac312ae8b",
      "name": "Filtra campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -540,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "268565f2-7db2-4483-b43c-fac3a04f092a",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3888a3a-bfa2-46b4-9e68-5c7a2b4ee597",
      "name": "Eu mandei mensagem para eu mesmo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        220
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "empresa",
        "filters": {
          "conditions": [
            {
              "keyName": "telefoneWhatsapp",
              "keyValue": "={{ $json.telefoneEmpresa }}"
            }
          ]
        }
      },
      "id": "51e70565-ea3a-45fc-b42a-ef64494b7415",
      "name": "Busca empresa",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        100,
        260
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wWgoEI5cZBSMLJmt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clientesIA",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Filtra campos').item.json.telefoneCliente }}"
            }
          ]
        }
      },
      "id": "a13f5b42-c7d2-4ee2-a5cb-425a0a9ed2bd",
      "name": "Busca cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "wWgoEI5cZBSMLJmt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aab8920a-ae1d-4653-8ba1-0c9c473f66f5",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "400e4644-f404-400d-a0c1-82621ae803bd",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        260
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "tableId": "clientesIA",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Filtra campos').item.json.nomeCliente }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Filtra campos').item.json.telefoneCliente }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "teste@teste.com"
            },
            {
              "fieldId": "empresa",
              "fieldValue": "={{ $('Busca empresa').item.json.id }}"
            },
            {
              "fieldId": "conversationID"
            }
          ]
        }
      },
      "id": "80fe7984-1f7a-42fc-bf03-75420ec450b4",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1020,
        660
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wWgoEI5cZBSMLJmt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=temp{{ $json.telefone }}",
        "messageData": "={{ $('Filtra campos').item.json.objetoMensagem }}",
        "tail": true
      },
      "id": "d453291d-80be-4f3f-98df-b8a3d7ea056e",
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1040,
        140
      ],
      "credentials": {
        "redis": {
          "id": "ZAg6wk7G85kK1xom",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=temp{{ $('Filtra campos').item.json.telefoneCliente }}",
        "options": {}
      },
      "id": "53e31bab-07c7-4088-a35d-5c73ae44305c",
      "name": "Redis1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1260,
        140
      ],
      "credentials": {
        "redis": {
          "id": "ZAg6wk7G85kK1xom",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "id": "36791bbf-a18e-4700-9af3-a3a65edb0228",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2200,
        -40
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "ff17f8d5-8871-4f66-b84f-b85b030b5eee",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1880,
        500
      ],
      "webhookId": "ea23b222-b6fe-4366-b14a-e4327622146e"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=temp{{ $('Filtra campos').item.json.telefoneCliente }}"
      },
      "id": "e93216d0-f936-48fb-a2a2-b8ca4f572cac",
      "name": "Redis2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2020,
        140
      ],
      "credentials": {
        "redis": {
          "id": "ZAg6wk7G85kK1xom",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whats",
        "options": {}
      },
      "id": "4fa48f0f-aa2b-482e-af2e-9ca781ee97ba",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        220
      ],
      "webhookId": "b438bc05-ece6-4f1e-bcd9-4e415518faef"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2580a85-38a1-4736-b349-bd24998e257b",
              "name": "=messages",
              "value": "={{ $json.propertyName.map(value => JSON.parse(value).message.conversation).join(' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a92491cf-932f-44fe-8eed-c574f676128b",
      "name": "messages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2520,
        160
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.propertyName.first()).key.id }}",
                    "rightValue": "={{ $('Filtra campos').item.json.idMensagem }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nada a fazer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f40994f0-64c9-48a2-81aa-8b4b2c922c10",
                    "leftValue": "={{ JSON.parse($json.propertyName.last()).messageTimestamp.toDateTime('s').toISO() }}",
                    "rightValue": "={{ $now.minus(30, 'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "prosseguir (já passou 30s)"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "esperar"
        }
      },
      "id": "ee41d36d-4835-4081-ad72-9aba7bc58693",
      "name": "Chegou mensagem nova?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1480,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dify.ai/v1/chat-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer app-eld1tyHRW2X5xmjL0ttIzRuW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": {},\n  \"query\": \"{{ $json.messages }}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{ $('Busca cliente').item.json.conversationID }}\",\n  \"user\": \"{{ $('Filtra campos').item.json.telefoneCliente }}\",\n  \"files\": [\n    {\n      \"type\": \"image\",\n      \"transfer_method\": \"remote_url\",\n      \"url\": \"https://cloud.dify.ai/logo/logo-site.png\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "927effc0-29fc-46d0-b959-46f02a732624",
      "name": "HTTP Request for BOT (Not Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        160
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "axios/1.7.7",
            "content-length": "975",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "n8n-n8n-1:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "gigabot",
            "data": {
              "key": {
                "remoteJid": "556696445432@s.whatsapp.net",
                "fromMe": false,
                "id": "3933CBBF4ADD1421A1A3692595F6DEE4"
              },
              "pushName": "Edileuza Nunes",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "recipientKeyHash": "JHoeLt9q1whlHA==",
                    "recipientTimestamp": "1731801016"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "/ACFWRfW2BMB01DfthAfxaBFht8v1epJsD+/JWuIy9U="
                },
                "conversation": "8"
              },
              "contextInfo": {
                "expiration": 0,
                "ephemeralSettingTimestamp": "1710772328",
                "disappearingMode": {
                  "initiator": "CHANGED_IN_CHAT",
                  "trigger": "CHAT_SETTING",
                  "initiatedByMe": false
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1731808671,
              "instanceId": "cf11f339-95c3-40a2-b2d9-b2393f6991bf",
              "source": "android"
            },
            "destination": "http://n8n-n8n-1:5678/webhook-test/whats",
            "date_time": "2024-11-16T22:57:51.592Z",
            "sender": "556696613990@s.whatsapp.net",
            "server_url": "http://localhost:8090",
            "apikey": "B972C3FCBCD0-4ACF-8D00-37247BADD006"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/whats",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Filtra campos": {
      "main": [
        [
          {
            "node": "Eu mandei mensagem para eu mesmo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eu mandei mensagem para eu mesmo?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca empresa": {
      "main": [
        [
          {
            "node": "Busca cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca cliente": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Chegou mensagem nova?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtra campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "messages": {
      "main": [
        [
          {
            "node": "HTTP Request for BOT (Not Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chegou mensagem nova?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5862d3de-7911-4118-8239-50e7452e2ae5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "820741496786d8ba7d5abf196562ef82fcc14b243df91d47772a4b8c04182b38"
  },
  "id": "OzLoWOdTpmAwhRg6",
  "tags": []
}