aula9/assets/FlowRevendaAuto+.yml
app:
  description: Aula 8 - Teste Chatflow
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: FlowRevendaAuto+
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables:
  - description: ''
    id: 147be82e-2435-4478-bd37-d4c40a25ceca
    name: etapaAtual
    value: 0
    value_type: number
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: llm-source-1728006640207-target
      source: llm
      sourceHandle: source
      target: '1728006640207'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: answer
      id: 1728006640207-source-answer-target
      source: '1728006640207'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: answer
        targetType: if-else
      id: answer-source-1728605346660-target
      source: answer
      sourceHandle: source
      target: '1728605346660'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: assigner
      id: 1728605346660-true-1728605670932-target
      source: '1728605346660'
      sourceHandle: 'true'
      target: '1728605670932'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1728005717701-source-1728605889068-target
      source: '1728005717701'
      sourceHandle: source
      target: '1728605889068'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1728605889068-false-llm-target
      source: '1728605889068'
      sourceHandle: 'false'
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1728605889068-true-1728605977372-target
      source: '1728605889068'
      sourceHandle: 'true'
      target: '1728605977372'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1728605977372-source-1728606170683-target
      source: '1728605977372'
      sourceHandle: source
      target: '1728606170683'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1728606170683-source-1728606438236-target
      source: '1728606170683'
      sourceHandle: source
      target: '1728606438236'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables: []
      height: 53
      id: '1728005717701'
      position:
        x: -338.1964856039966
        y: 83.9416519259926
      positionAbsolute:
        x: -338.1964856039966
        y: 83.9416519259926
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            json_schema: "{\n  \"name\": \"carro_escolha\",\n  \"schema\": {\n   \
              \ \"type\": \"object\",\n    \"properties\": {\n      \"nome\": {\n\
              \        \"type\": \"string\",\n        \"description\": \"o nome da\
              \ pessoa\"\n      },\n      \"carro\": {\n        \"type\": \"string\"\
              ,\n        \"description\": \"o carro que o usuário escolheu, se não\
              \ souber marque \\\"\\\"\"\n      },\n      \"response\": {\n      \
              \  \"type\": \"string\",\n        \"description\": \"Sua resposta para\
              \ o usuário\"\n      },\n      \"etapa\": {\n        \"type\": \"integer\"\
              ,\n        \"description\": \"o número da etapa em que você se encontra\
              \ com descrito nas tags\"\n      }\n    }\n  }\n}"
            response_format: json_schema
            temperature: 0.5
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - edition_type: jinja2
          id: 8bcb02e3-6155-420b-ad09-d3847e16b466
          jinja2_text: "<contexto>\r\nSeu nome é Clara, você trabalha na Concessionaria\
            \ Auto Carros.\r\nNo inicio da conversa, envie sempre a logo da loja,\
            \ no formato markdown:\r\n\r\n![\"Auto+ Carros\"](https://www.veiculoaqui.com.br/fotos_lojas/loja20231122131932721_535130177.jpeg)\r\
            \n\r\n\r\nVocê deve orientar o usuário a encontrar o carro ideal.\r\n\
            </contexto>\r\n\r\n<etapas>\r\n1. Solicite o nome do usuário\r\n2. Pergunte\
            \ para que tipo de uso será o carro\r\n3. Faça poucas perguntas para identificar\
            \ o carro ideal para o cliente\r\n4. Sugira um carro ou uma lista de carros\
            \ com base no perfil dele\r\n5. Assim que o usuário escolher o carro,\
            \ agradeça e diga que irá encaminhá-lo para o Gerente Caetano, que irá\
            \ agendar um teste Drive.\r\n</etapas> \r\n\r\n<response_format>\r\nResponda\
            \ no formato JSON com os seguintes campos:\r\nresponse - Sua resposta\
            \ para o usuário\r\ncarro - o carro que o usuário escolheu, se não souber\
            \ marque \"\"\r\nnome - o nome do usuário, se não souber, marque \"\"\r\
            \netapa - o número da etapa em que você se encontra com descrito nas tags\
            \ <etapas>\r\n</response_format>"
          role: system
          text: "<contexto>\nSeu nome é Clara, você trabalha na Concessionaria Auto\
            \ Carros.\nNo inicio da conversa, envie sempre a logo da loja, no formato\
            \ markdown:\n\n![\"Auto+\"](https://www.veiculoaqui.com.br/fotos_lojas/loja20231122131932721_535130177.jpeg)\n\
            \n\nVocê deve orientar o usuário a encontrar o carro ideal.\n</contexto>\n\
            \n<etapas>\n1. Solicite o nome do usuário\n2. Pergunte para que tipo de\
            \ uso será o carro\n3. Faça poucas perguntas para identificar o carro\
            \ ideal para o cliente\n4. Sugira um carro ou uma lista de carros com\
            \ base no perfil dele\n5. Assim que o usuário escolher o carro, agradeça\
            \ e diga que irá encaminhá-lo para o Gerente Caetano, que irá agendar\
            \ um teste Drive.\n</etapas> \n\n<response_format>\nResponda no formato\
            \ JSON com os seguintes campos:\nresponse - Sua resposta para o usuário\n\
            carro - o carro que o usuário escolheu, se não souber marque \"\"\nnome\
            \ - o nome do usuário, se não souber, marque \"\"\netapa - o número da\
            \ etapa em que você se encontra com descrito nas tags <etapas>\n\n</response_format>\n\
            \n<json_schema>\n{\n  \"name\": \"carro_escolha\",\n  \"schema\": {\n\
            \    \"type\": \"object\",\n    \"properties\": {\n      \"nome\": {\n\
            \        \"type\": \"string\",\n        \"description\": \"o nome da pessoa\"\
            \n      },\n      \"carro\": {\n        \"type\": \"string\",\n      \
            \  \"description\": \"o carro que o usuário escolheu, se não souber marque\
            \ \\\"\\\"\"\n      },\n      \"response\": {\n        \"type\": \"string\"\
            ,\n        \"description\": \"Sua resposta para o usuário\"\n      },\n\
            \      \"etapa\": {\n        \"type\": \"integer\",\n        \"description\"\
            : \"o número da etapa em que você se encontra com descrito nas tags\"\n\
            \      }\n    }\n  }\n}\n</json_schema>"
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 97
      id: llm
      position:
        x: 379.36257285903685
        y: 195.73715324960204
      positionAbsolute:
        x: 379.36257285903685
        y: 195.73715324960204
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1728006640207.response#}}'
        desc: ''
        selected: false
        title: Resposta
        type: answer
        variables: []
      height: 105
      id: answer
      position:
        x: 1014.3884723686142
        y: 231.0517301512806
      positionAbsolute:
        x: 1014.3884723686142
        y: 231.0517301512806
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(data: str) -> dict:\n    jsondata = json.loads(data)\n\
          \n    return {\n        \"response\": jsondata.get(\"response\", \"\"),\n\
          \        \"etapa\": jsondata.get(\"etapa\", 0),\n        \"nome\": jsondata.get(\"\
          nome\", \"\"),\n        \"carro\": jsondata.get(\"carro\", \"\"),\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          carro:
            children: null
            type: string
          etapa:
            children: null
            type: number
          nome:
            children: null
            type: string
          response:
            children: null
            type: string
        selected: false
        title: Código
        type: code
        variables:
        - value_selector:
          - llm
          - text
          variable: data
      height: 53
      id: '1728006640207'
      position:
        x: 672.9279574808318
        y: 141.99999999999997
      positionAbsolute:
        x: 672.9279574808318
        y: 141.99999999999997
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 34bed136-cc75-43ae-af94-576f82f8a746
            value: '5'
            varType: number
            variable_selector:
            - '1728006640207'
            - etapa
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: SE/SENÃO
        type: if-else
      height: 125
      id: '1728605346660'
      position:
        x: 1357.5658013784603
        y: 220.21535043418163
      positionAbsolute:
        x: 1357.5658013784603
        y: 220.21535043418163
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        assigned_variable_selector:
        - conversation
        - etapaAtual
        desc: ''
        input_variable_selector:
        - '1728006640207'
        - etapa
        selected: false
        title: Atribuidor de Variáveis
        type: assigner
        write_mode: over-write
      height: 131
      id: '1728605670932'
      position:
        x: 1699.31835026864
        y: 245.2860007388667
      positionAbsolute:
        x: 1699.31835026864
        y: 245.2860007388667
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 5e3f0716-b65e-49e4-a37b-97c48a4ce375
            value: '5'
            varType: number
            variable_selector:
            - conversation
            - etapaAtual
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: SE/SENÃO 2
        type: if-else
      height: 125
      id: '1728605889068'
      position:
        x: 65.87282894069068
        y: 2.979673350328028
      positionAbsolute:
        x: 65.87282894069068
        y: 2.979673350328028
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "from datetime import datetime\n\ndef main() -> dict:\n    # Dicionário\
          \ para mapear os dias da semana em português\n    days_of_week = {\n   \
          \     0: \"Segunda-feira\",\n        1: \"Terça-feira\",\n        2: \"\
          Quarta-feira\",\n        3: \"Quinta-feira\",\n        4: \"Sexta-feira\"\
          ,\n        5: \"Sábado\",\n        6: \"Domingo\"\n    }\n    \n    # Obtém\
          \ a data atual\n    current_date = datetime.now()\n    \n    # Formata a\
          \ data no formato dd/mm/aaaa\n    formatted_date = current_date.strftime(\"\
          %d/%m/%Y\")\n    \n    # Obtém o dia da semana em português\n    day_of_week\
          \ = days_of_week[current_date.weekday()]\n    \n    # Retorna a data e o\
          \ dia da semana\n    return {\n        \"data_atual\": formatted_date,\n\
          \        \"dia_da_semana\": day_of_week\n    }"
        code_language: python3
        desc: ''
        outputs:
          data_atual:
            children: null
            type: string
          dia_da_semana:
            children: null
            type: string
        selected: false
        title: Pegar data atual
        type: code
        variables: []
      height: 53
      id: '1728605977372'
      position:
        x: 385.193743347731
        y: -109.17849906536793
      positionAbsolute:
        x: 385.193743347731
        y: -109.17849906536793
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - edition_type: jinja2
          jinja2_text: "<contexto>\r\nSeu nome é Caetano e você é responsável por\
            \ agendar o teste drive com o cliente em nossa concessionária.\r\n</contexto>\r\
            \n\r\n<etapas>\r\n1. Pergunte o endereço do usuário\r\n2. Sugira os próximos\
            \ dois dias para agendamento, hoje é {{ data_atual }}, {{ dia_da_semana\
            \ }}.\r\n3. Sugira dois horários, um de manhã e outro de tarde.\r\n4.\
            \ Agradeça ao usuário e diga que irá aguardá-lo.\r\n\r\n</etapas>"
          role: system
          text: '<contexto>

            Seu nome é Caetano e você é responsável por agendar o teste drive com
            o cliente em nossa concessionária.

            </contexto>


            <etapas>

            1. Pergunte o endereço do usuário

            2. Sugira os próximos dois dias para agendamento, hoje é {{ data_atual
            }}, {{ dia_da_semana }}.

            3. Sugira dois horários, um de manhã e outro de tarde.

            4. Agradeça ao usuário e diga que irá aguardá-lo.


            </etapas>'
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 97
      id: '1728606170683'
      position:
        x: 736.1828476133209
        y: -216.05863983797235
      positionAbsolute:
        x: 736.1828476133209
        y: -216.05863983797235
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1728606170683.text#}}'
        desc: ''
        selected: false
        title: Resposta Tests Drive
        type: answer
        variables: []
      height: 105
      id: '1728606438236'
      position:
        x: 1097.728015165094
        y: -230.57322685647418
      positionAbsolute:
        x: 1097.728015165094
        y: -230.57322685647418
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -759.2280151650939
      y: 515.0732268564742
      zoom: 1
