trabalho/arquivos-27112024/register_client.yml
app:
  description: register_client
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: register_client
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1732715171947-source-1732715910562-target
      selected: false
      source: '1732715171947'
      sourceHandle: source
      target: '1732715910562'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1732715910562-source-1732716395802-target
      source: '1732715910562'
      sourceHandle: source
      target: '1732716395802'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables:
        - label: name
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: name
        - label: email
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: email
        - label: phone
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: phone
      height: 141
      id: '1732715171947'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: "{\n     \"name\":\"{{#1732715171947.name#}}\",\n     \"email\":\"\
            {{#1732715171947.email#}}\",\n     \"phone\":\"{{#1732715171947.phone#}}\"\
            \n}"
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Requisição HTTP
        type: http-request
        url: http://134.65.247.14:5678/webhook/cadastra-cliente
        variables: []
      height: 105
      id: '1732715910562'
      position:
        x: 383
        y: 282
      positionAbsolute:
        x: 383
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1732715910562'
          - body
          variable: result
        selected: false
        title: Fim
        type: end
      height: 89
      id: '1732716395802'
      position:
        x: 686
        y: 282
      positionAbsolute:
        x: 686
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -354.13817607053
      y: 25.96392901825567
      zoom: 1.0082206514805325
